/* All */
* {
  font-family: Pretendard, "Noto Sans KR", sans-serif;
  box-sizing: border-box;
  /* margin: 0 auto; */
}

/* 전체 너비 */
body {
  margin: 0px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  /* 모든 요소를 가운데에 고정 */
}

/* header {
  position: fixed;
} */

.header {
  /*   요소가 여러 개일때사용 */
  display: flex;
  justify-content: center;
  align-items: center;
  /* 요소가 하나일때 */
  text-align: center;
  background-color: #ffffff;
  width: 100%;
  height: 204px;
  /* position: relative; */
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 264px;
  padding-right: 334px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

/* 네비게이션 로고 스타일 */
.header_logo {
  /* position: absolute;
  top: 121px;
  left: 317px; */
  text-align: center;
  width: 158px;
  height: 26px;
}

/* 네비게이션 메뉴 스타일 */
.header_menu {
  display: flex;
  list-style: none;
  /* 리스트 앞에 있는 점 없애기 */
  padding-left: 0;
  /*  position: absolute;
  top: 116px;
  left: 551px; */
  text-align: center;
  margin: 0px;
  margin-left: 76px;
}

.groups:hover {
  color: #ea5e6e;
}
.mygroup:hover {
  color: #ea5e6e;
}
.calendar:hover {
  color: #ea5e6e;
}
.groups {
  text-decoration: none;
  /* 주소 넣었을 때 생기는 밑줄 삭제 */
  color: #242424;
  text-align: center;
  font-family: Pretendard;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.9px;
}

.mygroup {
  text-decoration: none;
  /* 주소 넣었을 때 생기는 밑줄 삭제 */
  color: #242424;
  text-align: center;
  font-family: Pretendard;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.9px;
}

.calendar {
  color: #ea5e6e;
  text-decoration: none;
  /* 주소 넣었을 때 생기는 밑줄 삭제 */
  text-align: center;
  font-family: Pretendard;
  font-size: 30px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: -0.9px;
}

.header_menu li {
  margin: 0px 18px;
}

/* 네비게이션 검색 스타일 */
.header_search {
  /* position: absolute;
  top: 109px;
  left: 1216px; */
  text-align: center;
  width: 306px;
  height: 45px;
  font-family: Pretendard;
  background: #eeeeee;
  border-radius: 22.5px;
  list-style: none;
  display: flex;
  margin-left: 316px;
}

.header_search > form > input {
  border: none;
  width: 306px;
  height: 45px;
  font-size: 18px;
  font-family: Pretendard;
  background: #eeeeee;
  color: #5b5b5b;
  outline: none;
  border-radius: 68px;
  padding-right: 10px;
}

.header_profile {
  /* position: absolute;
  top: 110px;
  left: 1543px; */
  text-align: center;
  margin-left: 26px;
}
/* 여기까지 header파트 이 위는 건들지 말기!!! */

/* calender 부분 */

#calendar_main {
  margin-top: 300px;
  width: 1281px;
  height: 800px;
}

.fc-toolbar-chunk {
  display: flex;
  align-items: center;
}

.fc-toolbar-title {
  font-size: 30px;
  font-weight: 600;
}

.fc-header-toolbar .fc-button {
  font-size: 20px;
  /* 원하는 크기로 조절 */
  font-weight: 700;
}

.fc .fc-button-primary {
  background-color: var(--fc-button-bg-color);
  border-color: var(--fc-button-border-color);
  color: var(--fc-button-text-color);
}

.fc .fc-button {
  border-radius: 68px;
}

:root {
  --fc-small-font-size: 0.85em;
  --fc-page-bg-color: #fff;
  --fc-neutral-bg-color: hsla(0, 0%, 82%, 0.3);
  --fc-neutral-text-color: grey;
  --fc-border-color: #ddd;
  --fc-button-text-color: #fff;
  --fc-button-bg-color: #ea5e6e;
  --fc-button-border-color: #ffffff;
  --fc-button-hover-bg-color: #f18e9a;
  --fc-button-hover-border-color: #ffffff;
  --fc-button-active-bg-color: #f18e9a;
  --fc-button-active-border-color: #ffffff;
  --fc-event-bg-color: #00c6a3;
  --fc-event-border-color: #00c6a3;
  --fc-event-text-color: #fff;
  --fc-event-selected-overlay-color: rgba(0, 0, 0, 0.25);
  --fc-more-link-bg-color: #d0d0d0;
  --fc-more-link-text-color: inherit;
  --fc-event-resizer-thickness: 8px;
  --fc-event-resizer-dot-total-width: 8px;
  --fc-event-resizer-dot-border-width: 1px;
  --fc-non-business-color: hsla(0, 0%, 84%, 0.3);
  --fc-bg-event-color: #8fdf82;
  --fc-bg-event-opacity: 0.3;
  --fc-highlight-color: rgba(188, 232, 241, 0.3);
  --fc-today-bg-color: #f3cdd2;
  --fc-now-indicator-color: red;
}

.calendar_index {
  display: flex;
  justify-content: left;
  margin-top: 62px;
  margin-bottom: 150px;
  text-align: center;
  width: 1273px;
  height: 125px;
  border-radius: 20px;
  border: 1px solid #ea5e6e;
  background-color: #ea5e6e;
}

#selectedDate {
  margin-left: 40px;
  margin-top: 46px;
  font-size: 30px;
  font-weight: 600;
  color: #ffffff;
}
#selectedInfo {
  margin-left: 100px;
  margin-top: 46px;
  font-size: 30px;
  font-weight: 600;
  color: #ffffff;
}
