/* All */
* {
  font-family: Pretendard, "Noto Sans KR", sans-serif;
  box-sizing: border-box;
  /* margin: 0 auto; */
}

/* 전체 너비 */
body {
  margin: 0px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  /* 모든 요소를 가운데에 고정 */
}

/* header {
  position: fixed;
} */

.header {
  /*   요소가 여러 개일때사용 */
  display: flex;
  justify-content: center;
  align-items: center;
  /* 요소가 하나일때 */
  text-align: center;
  background-color: #ffffff;
  width: 100%;
  height: 204px;
  /* position: relative; */
  padding: 0px 317px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

/* 네비게이션 로고 스타일 */
.header_logo {
  /* position: absolute;
  top: 121px;
  left: 317px; */
  text-align: center;
  width: 164px;
  height: 26px;
}

/* 네비게이션 메뉴 스타일 */
.header_menu {
  display: flex;
  list-style: none;
  /* 리스트 앞에 있는 점 없애기 */
  padding-left: 0;
  /*  position: absolute;
  top: 116px;
  left: 551px; */
  text-align: center;
  margin: 0px;
  margin-left: 70px;
}

.groups:hover {
  color: #ea5e6e;
}
.mygroup:hover {
  color: #ea5e6e;
}
.calendar:hover {
  color: #ea5e6e;
}
.groups {
  text-decoration: none;
  /* 주소 넣었을 때 생기는 밑줄 삭제 */
  color: #242424;
  text-align: center;
  font-family: Pretendard;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.9px;
}

.mygroup {
  color: #ea5e6e;
  text-decoration: none;
  /* 주소 넣었을 때 생기는 밑줄 삭제 */
  text-align: center;
  font-family: Pretendard;
  font-size: 30px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: -0.9px;
}

.calendar {
  text-decoration: none;
  /* 주소 넣었을 때 생기는 밑줄 삭제 */
  color: #242424;
  text-align: center;
  font-family: Pretendard;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.9px;
}

.header_menu li {
  margin: 0px 18px;
}

/* 네비게이션 검색 스타일 */
.header_search {
  /* position: absolute;
  top: 109px;
  left: 1216px; */
  text-align: center;
  width: 306px;
  height: 45px;
  font-family: Pretendard;
  background: #eeeeee;
  border-radius: 22.5px;
  list-style: none;
  display: flex;
  margin-left: 316px;
}

.header_search > form > input {
  border: none;
  width: 306px;
  height: 45px;
  font-size: 18px;
  font-family: Pretendard;
  background: #eeeeee;
  color: #5b5b5b;
  outline: none;
  border-radius: 68px;
  padding-right: 10px;
}

.header_profile {
  /* position: absolute;
  top: 110px;
  left: 1543px; */
  text-align: center;
  margin-left: 26px;
}
/* 여기까지 header파트 이 위는 건들지 말기!!! */

/* 모임 만들기 화면의 큰 제목 */
.group_left {
  /*   요소가 여러 개일때사용 */
  display: flex;
  justify-content: center;
  align-items: center;
  /* 요소가 하나일때 */
  /* text-align: center; */
  width: 100%;
  height: 448px;
  padding-top: 250px;
  padding-left: 460px;
  padding-right: 220px;
  background-color: white;
  /* z-index: 1000; */
  text-align: center;
  /* padding-top: 140px;
      padding-left: 311px;
      padding-right: 311px; */
}

.group_left > #c {
  margin: 0px;
}

.group_left > #c > a > #arrow {
  text-align: center;
  margin-right: 50px;
  /* padding-right: 0px; */
}

.group_left > #location {
  /* 글꼴 선정 */
  color: #242424;
  font-family: Pretendard;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 135.5%; /* 65.04px */
  letter-spacing: -1.44px;
  /* 위치 선정 */
  padding-top: 0px;
  padding-left: 0px;
  margin-right: 0px;
  margin: 0px;
  text-align: center;
}

.group_right {
  width: 700px;
  height: 48px;
  /* 화면 비율 바뀌어도 가운데로 고정 */
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  margin: 0px;
  text-align: center;
}

.section1 {
  display: flex;
  justify-content: center;
}
.pusher1 {
  margin-right: 140px;
}
.section2 {
  display: flex;
  justify-content: center;

  margin-top: 25px;
}
.pusher2 {
  margin-right: 140px;
}
.section3 {
  display: flex;
  justify-content: center;

  margin-top: 25px;
}
.pusher3 {
  margin-right: 140px;
}
.section4 {
  display: flex;
  justify-content: center;

  margin-top: 25px;
}
.pusher4 {
  margin-right: 140px;
}
.section5 {
  display: flex;
  justify-content: center;

  margin-top: 25px;
}
.pusher5 {
  margin-right: 140px;
}
.btn {
  display: flex;
  justify-content: center;

  margin-top: 25px;
  margin-bottom: 50px;
}

#section1_info {
  margin-top: 55px;
  font-size: 36px;
  font-weight: 600;
  color: #242424;
}
#section1_write {
  width: 887px;
  height: 80px;
  border: 1px solid #c6c6c6;
  border-radius: 20px;
}

#section2_info {
  font-size: 36px;
  font-weight: 600;
  color: #242424;
}
#section2_write {
  width: 887px;
  height: 80px;
  border: 1px solid #c6c6c6;
  border-radius: 20px;
}

#section3_info {
  font-size: 36px;
  font-weight: 600;
  color: #242424;
}
#section3_write {
  width: 887px;
  height: 262px;
  border: 1px solid #c6c6c6;
  border-radius: 20px;
}

#section4_info {
  font-size: 36px;
  font-weight: 600;
  color: #242424;
}
#section4_write {
  width: 887px;
  height: 80px;
  border: 1px solid #c6c6c6;
  border-radius: 20px;
}

#section5_info {
  font-size: 36px;
  font-weight: 600;
  color: #242424;
}
#section5_write {
  width: 221px;
  height: 80px;
  border: 1px solid #c6c6c6;
  border-radius: 20px;

  margin-top: 20px;
  margin-left: 280px;
}

[type="text"] {
  font-size: 30px;
  font-weight: 600;
  text-align: center;
}

.disabled {
  width: 887px;
  height: 77px;
  background-color: #d9d9d9;
  border: 0px;
  border-radius: 12px;

  font-size: 32px;
  font-weight: 500;
  color: #242424;
  text-align: center;
}

.active {
  width: 887px;
  height: 77px;
  background-color: #ea5e6e;
  border: 0px;
  border-radius: 12px;

  font-size: 32px;
  font-weight: 500;
  color: #ffffff;
  text-align: center;
  cursor: pointer;
}

.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  width: 510px;
  height: 282px;
  border-radius: 20px;
  border: 1px solid #c6c6c6;
  background-color: white;
}

.popup > p {
  margin-top: 70px;
  text-align: center;
  font-size: 26px;
  font-weight: 600;
  color: #242424;
}

.popup > #confirm {
  margin-top: 20px;
  margin-left: 18px;
  width: 432px;
  height: 62px;
  background-color: #ea5e6e;
  border: 0px;
  border-radius: 12px;
  cursor: pointer;

  color: #fff;
  text-align: center;
  font-family: Pretendard;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 135.5%; /* 35.23px */
  letter-spacing: -0.78px;
}

.popup > #confirm > a {
  text-decoration: none;
  /* 주소 넣었을 때 생기는 밑줄 삭제 */
  color: #fff;
  text-align: center;
  font-family: Pretendard;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 135.5%; /* 35.23px */
  letter-spacing: -0.78px;
}
